<?js
var data = obj;
var self = this;
var typeSignature = '';

if (data.type && data.type.names) {
    data.type.names.forEach(function (name) {
        typeSignature += '<span class="type-signature type ' + name.toLowerCase() + '">' + self.linkto(name, self.htmlsafe(name)) + '</span> ';
    });
}
?>
<dt>
    <div class="nameContainer">
        <h4 class="name" id="<?js= id ?>"><?js= data.attribs + (data.scope === 'static' ? longname : name)  + typeSignature ?></h4>
    </div>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>
    
    <?js= this.partial('details.tmpl', data) ?>
    
    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>

    <?js
        var members = self.find({memberof: [data.longname, data.name]});
        if (members && members.length && members.forEach) {
            var non_methods = members.filter(function (m) {
                return m.kind != 'function';
            });
            if ( non_methods.length ) {
    ?>
            <h3 class="subsection-title">Members</h3>

            <dl><?js non_methods.forEach(function(p) { ?>
                <?js= p.kind ?>
                <?js= self.partial('members.tmpl', p) ?>
            <?js }); ?></dl>


        <?js
            }
        var methods = members.filter(function (m) {
            return m.kind == 'function';
        });
        if ( methods.length ) { ?>
            <h3 class="subsection-title">Methods</h3>

            <dl><?js methods.forEach(function(p) { ?>
                <?js= self.partial('method.tmpl', p) ?>
            <?js }); ?></dl>
        <?js } ?>
    <?js } ?>
</dd>
