<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName"><a href="index.html"><?js= env.conf.templates.applicationName ?></a></h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">
    <?js
    Object.keys(this.nav).forEach(function (category) {
        var items = self.nav[category];
    ?>
        <li class="item item-category" data-name="<?js= category ?>">
            <?js if ( category.indexOf('__') ) { ?><span class="category"><?js= category ?>s</span><?js } ?>
            <ul>
                <?js if ( Array.isArray(items) ) { ?>
                    <?js= self.partial('navitem.tmpl', items) ?>
                <?js } else { ?>
                    <?js Object.keys(items).forEach(function (subcategory) {
                        var sub_items = items[subcategory]; ?>
                        <li class="item item-subcategory" data-name="<?js= subcategory ?>">
                            <?js if ( subcategory.indexOf('__') ) { ?><span class="subcategory"><?js= subcategory ?></span><?js } ?>
                            <ul>
                                <?js= self.partial('navitem.tmpl', sub_items) ?>
                            </ul>
                        </li>
                    <?js }); ?>
                <?js } ?>
            </ul>
        </li>
    <?js }); ?>
    </ul>
</div>
